<!-- Header Area -->
<header class="header">
  <!-- Topbar -->
  <div class="topbar">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 col-md-5 col-12">
          <ul class="top-link">
            <li><a href="#">Hakkımızda</a></li>
            <li><a href="#">Hizmetlerimiz</a></li>
            <li><a href="#">İletişim</a></li>
            <li><a href="#">SSS</a></li>
          </ul>
        </div>
        <div class="col-lg-6 col-md-7 col-12">
          <ul class="top-contact">
            <li><i class="fa fa-phone"></i>+90 232 365 26 00</li>
            <li><i class="fa fa-phone"></i>+90 553 826 26 00</li>
            <li>
              <i class="fa fa-envelope"></i
              ><a href="mailto:dt.ademgurup@gmail.com"
                >dt.ademgurup@gmail.com</a
              >
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <!-- Header Inner -->
  <div class="header-inner">
    <div class="container">
      <div class="inner">
        <div class="row">
          <div class="col-lg-3 col-md-3 col-12">
            <div class="logo">
              <a href="index.html"><img src="img/logo.png" alt="#" /></a>
            </div>
            <div class="mobile-nav"></div>
          </div>
          <div class="col-lg-7 col-md-9 col-12">
            <div class="main-menu">
              <nav class="navigation">
                <ul class="nav menu">
                  <li class="active">
                    <a href="#"
                      >Ana Sayfa <i class="icofont-rounded-down"></i
                    ></a>
                    <ul class="dropdown">
                      <li><a href="index.html">Ana Sayfa</a></li>
                    </ul>
                  </li>
                  <li><a href="#">Hekimimiz</a></li>
                  <li>
                    <a href="#"
                      >Tedaviler <i class="icofont-rounded-down"></i
                    ></a>
                    <ul class="dropdown">
                      <li>
                        <a href="/izmir-implantoloji.html">İmplantoloji</a>
                      </li>
                      <li>
                        <a href="/izmir-gulus-estetigi.html">Gülüş Estetiği</a>
                      </li>
                      <li>
                        <a href="/izmir-porselen-lamina.html"
                          >Porselen Lamina</a
                        >
                      </li>
                      <li>
                        <a href="/izmir-kron-kaplamalar.html"
                          >Kron Kaplamalar</a
                        >
                      </li>
                      <li>
                        <a href="/izmir-dis-ve-cene-cerrahisi.html"
                          >Diş ve Çene Cerrahisi</a
                        >
                      </li>
                      <li>
                        <a href="/izmir-periodontoloji.html">Periodontoloji</a>
                      </li>
                      <li>
                        <a href="/izmir-dis-beyazlatma.html">Diş Beyazlatma</a>
                      </li>
                      <li>
                        <a href="/izmir-pembe-estetik.html">Pembe Estetik</a>
                      </li>
                      <li>
                        <a href="/izmir-agiz-ve-dis-bakimi.html"
                          >Ağız ve Diş Bakımı</a
                        >
                      </li>
                      <li>
                        <a href="/izmir-estetik-dis-hekimligi.html"
                          >Estetik Diş Hekimliği</a
                        >
                      </li>
                      <li>
                        <a href="/izmir-kanal-tedavisi.html">Kanal Tedavisi</a>
                      </li>
                      <li>
                        <a href="/izmir-dijital-dis-hekimligi.html"
                          >Dijital Diş Hekimliği</a
                        >
                      </li>
                    </ul>
                  </li>
                  <li><a href="contact.html">İletişim</a></li>
                </ul>
              </nav>
            </div>
          </div>
          <div class="col-lg-2 col-12">
            <div class="get-quote">
              <a href="appointment.html" class="btn">Randevu Al</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>
